.nav_body{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
}
.nav_body>div{
    height: 100%;
    padding: 0;
    margin: 0;
}
.leftmenu{
    padding: 0px;
    border-right: 1px solid #eee;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.leftmenu>.leftmenu-head{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0px;
}
.leftmenu>.leftmenu-body{
    width: 100%;
    position: absolute;
    top: 30px;
    bottom: 0px;
    overflow: auto;
}
.rightcentre{

}


.centre_tabs{
    padding: 0px;height: 100%;
}
.centre_tabs .nav-tabs{
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.centre_tabs .tab-content{
    position: absolute;
    top: 0px;
    padding-top: 43px;
    z-index: 0;
}
.centre_tabs .tab-content,.centre_tabs .tab-pane{
    width: 100%;
    height: 100%;
    overflow: auto;
}


