/BlogCloudServer/target/
/BlogCloudClinet/nbproject/private/

/BlogCloudServer/src/main/java/com/proto
/BlogCloudServer/logs/
/BlogCloudClient/www/resource/js/structure.js
/BlogCloudClient/nbproject/private/
/BlogCloudClinet/nbproject/private
