/BlogCloudClient/nbproject/private/
/BlogCloudClient/www/resource/js/structure.js

/BlogCloudServer/src/main/java/com/blog/proto
/BlogCloudServer/target/
/BlogCloudServer/logs/
/BlogCloudServer/store/

