/BlogCloudServer/target/
/BlogCloudClinet/nbproject/private/

/BlogCloudServer/src/main/java/com/proto
/ProteinDBServer/logs/
/ProteinDBClient/www/static/visitor/js/pbs.js
/BlogCloudClient/nbproject/private/
/BlogCloudClinet/nbproject/private