.dialog-left-template{
    margin: 0;
    width: 80%;
    height: 100%;
}
.dialog-left-template>.modal-content{
    width: 100%;
    height: 100%;
    border-radius: 0 6px 6px 0;
    border-style: none;
}