/* 
小屏幕（平板，大于等于 768px）
@media (min-width: @screen-sm-min) {}

 中等屏幕（桌面显示器，大于等于 992px） 
@media (min-width: @screen-md-min) {}

 大屏幕（大桌面显示器，大于等于 1200px） 
@media (min-width: @screen-lg-min) {}
@media (min-width: 992px) {
    .home-header-nav{
        padding-left: 200px;
        padding-right: 230px;
    }
}
*/

/* ------ blog-cloud-home-template ----- start ------*/
body{
    width: 100%;
    height: 100%;
}
.home-head-nav{
    background-color: #eee; 
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0px;
}
.home-foot-nav{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: #eee;
}
.home-body{
    position: absolute;
    width: 100%;
}
@media (min-width: 992px) {
    .home-body{
        top: 50px;
        bottom: 0px;
    }
}
@media (max-width: 992px) {
    .home-body{
        top: 0px;
        bottom: 50px;
    }
}
/* ------ blog-cloud-home-template ----- end ------*/
/* ------ large-home-haad-nav-template ----- start ------*/
.home-nav{
    width: 100%;
    height: 100%;
    position: relative;
}
.home-nav>.home-nav-logo{
    height: 100%;
    position: absolute;
    left: 0px;
    width: 260px;
    border-right: 1px solid #eee;
}
.home-nav>.home-nav-body{
    height: 100%;
    position: absolute;
    left: 260px;
    right: 230px;
    vertical-align: central;
}
.home-nav>.home-nav-body>div{
    height: 100%;
}
.home-nav>.home-nav-clock{
    height: 100%;
    position: absolute;
    right: 0px;
    width: 230px;
}
/* ------ large-home-haad-nav-template ----- end ------*/

