/* 
小屏幕（平板，大于等于 768px） 
@media (min-width: @screen-sm-min) {}

 中等屏幕（桌面显示器，大于等于 992px） 
@media (min-width: @screen-md-min) {}

 大屏幕（大桌面显示器，大于等于 1200px） 
@media (min-width: @screen-lg-min) {}
*/
.home-header{
    position: absolute;
    width: 100%;
    height: 50px;
    overflow: hidden;
    z-index: 0;
}
.home-body{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    overflow: auto;
    z-index: -1;
}
/*------login start------*/
.login-body{
    position: relative;
    top: 0px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    background-image: url(/static/resource/images/blueback.png);
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    overflow: auto;
}
.login-foot{
    position: absolute;
    bottom: 0px;
    height: 20px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #eee;
    text-align: center;
    background-color: #eee;
    z-index: 999;
}
.login-body>div{
    border-radius: 4px;
    margin: auto;
    background: rgba(255,255,255,0.5);
    border: 1px solid #eee;
    overflow: auto;
}
@media screen and (min-width: 992px) {
    .login-body{
        padding-top: 80px;
    }
    .login-body>div{
        width: 500px;
        height: 360px;
        border: 1px solid #eee;
        border-radius: 4px;
        padding: 20px 60px;
    }
}
@media screen and (max-width: 992px) {
    .login-body>div{
        width: 100%;
        height: 100%;
        padding: 40px 20px;
    }
}
/*------login end------*/
