/* 
小屏幕（平板，大于等于 768px） 
@media (min-width: @screen-sm-min) {}

 中等屏幕（桌面显示器，大于等于 992px） 
@media (min-width: @screen-md-min) {}

 大屏幕（大桌面显示器，大于等于 1200px） 
@media (min-width: @screen-lg-min) {}
*/
.home-header{
    position: absolute;
    width: 100%;
    height: 50px;
    overflow: hidden;
    z-index: 0;
}
.home-body{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    overflow: auto;
    z-index: -1;
}
