.message-body{
    height: 100%;
    width: 1200px;
    border: 1px solid #000;
    margin: auto;
}
.message-body>div{
    height: 100%;
    padding: 0px;
}
.message-contacts{
    border-right: 1px solid #000;
}
.message-contacts-user{
    height: 60px;
    width: 100%;
    padding: 10px 20px;
    border: 0.5px solid #eee;
}
.message-contacts-class{
    margin: 0px;
    height: 32px;
}
.message-contacts-class>div{
    text-align: center;
}
