.card-data{
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 35px;
    overflow: hidden;
}
.card-data>div{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.card-paging{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 35px;
    border-top: 1px solid #eee;
}
/* ------ large-screen-card-data-template ------ start ------*/

/* ------ large-screen-card-data-template ------ end ------*/
/* ------ small-screen-card-data-template ------ start ------*/

/* ------ small-screen-card-data-template ------ end ------*/
/* ------ file-card-Layout-template ------ start ------*/
div.file-card{
    height: 100%;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #eee;
}
div.file-card>.file-icon{
    height: 100%;
    width: 45px;
    position: absolute;
    left: 0px;
    padding-left: 15px;
}
div.file-card>.file-choose{
    height: 100%;
    width: 42px;
    position: absolute;
    right: 0px;
}
div.file-card>.file-info{
    height: 100%;
    position: absolute;
    left: 45px;
    right: 42px;
    overflow: hidden;
    padding-left: 8px;
}
@media (min-width: 992px) {
    div.file-card>.file-info{
        right: 0px;
    }
}
@media (max-width: 992px) {
    div.file-card>.file-info{
        right: 42px;
    }
}
/* ------ file-card-Layout-template ------ end ------*/
/* ------ card-paging-template ------ start ------*/
.data-paging{
    width: 100%;
    height: 34px;
}
.data-paging .pagination .active{
    font-weight: bolder;
}
.data-paging .jump-input{
    height: 30px;
    width: 40px;
}
.data-paging button{
    height: 32px;
}
.data-paging>ul{
    margin: 0px;
    cursor: pointer;
}
/* ------ card-paging-template ------ end ------*/





























table.custom-card-table{
    width: 100%;
}
table.custom-card-table>thead{
}

.custom-card-info,.custom-card-header{
    border-bottom: 1px solid #e2edfc;
}
.custom-card-info>td{
    height: 48px;
}
.custom-card-header>td{
    height: 38px;
}
.custom-card-header ul{
    list-style: none;
    margin: 0px;
    padding: 9px 10px;
    width: 100%;
    height: 100%;
}
.custom-card-header ul>li{
    float: left;
}
.custom-card-info:hover .custom-card-operation>ul li span{
    display: inherit;
}
.custom-card-checkbox{
    height: 100%;
    width: 32px;
    text-align: center;
    border-right: 1px solid #e2edfc;
}
.custom-card-icon{
    height: 100%;
    width: 40px;
    font-size: 30px;
    text-align: center;
}
.custom-card-operation{
    height: 100%;
    width: 360px;
}
.custom-card-operation>ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.custom-card-operation>ul>li{
    float: left;
    height: 100%;
    min-width: 46px;
    text-align: center;
    padding-top: 8px;
    margin-right: 6px;
    border-radius: 4px;
}
.custom-card-operation>ul>li:hover{
    background-color: #e7e7e7;
}
.custom-card-operation>ul li span{
    display: none;
}
.custom-card-content{
    padding-left: 6px;
}
.custom-card-content>div{
    width: 100%;
    height: 100%;
}
