.card-data{
    width: 100%;
    position: absolute;
    top: 0px;
    overflow: hidden;
}
.card-paging{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 35px;
    border-top: 1px solid #eee;
}
.card-data>.card-data-head{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #eee;
}
.card-data>.card-data-body{
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: auto;
}
.card-data>.card-data-body>div:last-child{
    border-bottom: 1px solid #eee;
}
.card-data>.card-data-body>div{
    border-top: 1px solid #eee;
    position: relative;
    height: 48px;
    cursor: pointer;
}
.card-data>.card-data-body>div:hover{
    /*background-color: #e7e7e7;*/
    background-color: #efefef;
}
.card-data .card-choose{
    position: absolute;
    left: 0px;
    width: 32px;
    height: 100%;
    border-right: 1px solid #eee;
    text-align: center;
    line-height: 48px;
}
.card-data .card-operate{
    position: absolute;
    right: 0px;
    width: 240px;
    height: 100%;
    line-height: 36px;
}
@media (min-width: 992px) {
    .card-data .card-content{
        position: absolute;
        left: 32px;
        right: 240px;
        height: 100%;
    }
    .card-data .card-content>.card-data-info{
        height: 100%;
        width: 100%;
    }
    .card-data>.card-data-body{
        top: 36px;
    }
}
@media (max-width: 992px) {
    .card-data .card-content{
        width: 100%;
        height: 100%;
    }
    .card-data .card-content>.card-small-choose{
        position: absolute;
        right: 0px;
        height: 100%;
        width: 42px;
        text-align: center;
        line-height: 48px;
        padding-right: 8px;
    }
    .card-data .card-content>.card-data-info{
        position: absolute;
        left: 0px;
        right: 42px;
        height: 100%;
    }
    .card-data>.card-data-body{
        top: 0px;
    }
}
.small-option{
    height: 50px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
/* ------ file-card-Layout-template ------ start ------*/
div.file-card{
    height: 100%;
    width: 100%;
    position: relative;
}
div.file-card>.file-icon{
    height: 100%;
    width: 45px;
    position: absolute;
    left: 0px;
    padding-left: 10px;
}
div.file-card>.file-info{
    height: 100%;
    position: absolute;
    left: 45px;
    right: 0px;
    overflow: hidden;
    padding-left: 8px;
}
.height-layout-span>span{
    display: inline-block;
    width: 100%;
}
.height-layout-span>span:first-child{
    height: 60%;
    padding-top: 10px;
}
.height-layout-span>span:last-child{
    height: 40%;
    color: #888;
}
@media (min-width: 992px) {
    div.file-card>.file-icon{
        padding-left: 10px;
    }
}
@media (max-width: 992px) {
    div.file-card>.file-icon{
        padding-left: 15px;
    }
}
/* ------ file-card-Layout-template ------ end ------*/
/* ------ card-paging-template ------ start ------*/
.data-paging{
    width: 100%;
    height: 34px;
}
.data-paging .pagination .active{
    font-weight: bolder;
}
.data-paging .jump-input{
    height: 30px;
    width: 40px;
}
.data-paging button{
    height: 32px;
}
.data-paging>ul{
    margin: 0px;
    cursor: pointer;
}
/* ------ card-paging-template ------ end ------*/
