.leftMenu{
    padding: 0px;
    border-right: 1px solid #000;
    height: 100%;
    overflow: auto;
}
.leftMenu .panel-heading,.leftMenu ul>li{
    cursor:pointer;
}
.leftMenu ul>li:hover{
    background:#C4E3F3;
}
.leftMenu .list-group .list-group-item{
    padding-left: 30px;
}
.centre_tabs{
    padding: 0px;height: 100%;
}
.centre_tabs .nav-tabs{
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.centre_tabs .tab-content{
    position: absolute;
    top: 0px;
    padding-top: 43px;
    z-index: 0;
}
.centre_tabs .tab-content,.centre_tabs .tab-pane{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.collapsebox .fa-hand-o-down{
    display: none;
}
.collapsebox [aria-expanded=true] .fa-hand-o-down, .collapsebox [aria-expanded=false] .fa-hand-o-left{
    display: inline-block;
}
.collapsebox [aria-expanded=true] .fa-hand-o-left, .collapsebox [aria-expanded=false] .fa-hand-o-down{
    display: none;
}

