.user-info{
    margin: 20px 100px 20px 100px;
}
.input-group-menu{
    padding: 0px;
}
.user-info span.validationMessage{
    margin-top: -15px;
    display: block;
    margin-bottom: 15px;
    color: red;
    padding-left: 80px;
}
.user-card-top{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #e2edfc;
}
.user-card{
    position: absolute;
    top: 40px;
    bottom: 0px;
    width: 100%;
}
